<!DOCTYPE html>
<html lang="en">
    <html xmlns:th="http://www.thymeleaf.org"></html>
    <head>
        <title>Doctor Secret Room</title>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div th:replace="fragments/header :: header"></div>
        <header th:fragment="header">Header TODO</header>
        <section>
            <h1>Welcome <span th:text="${doctorname}"></span></h1>
            <h3>Your number is <span th:text="${doctornumber}"></span></h3>
        </section>
        <header th:fragment="header">Footer TODO</footer>
        <div th:replace="fragments/footer :: footer"></div>
    </body>
</html>